@{
    ViewBag.Title = "Potvrdili ste promenu passworda";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<div class="row" style="background:#eee;padding:20px;">
    <p>
        Vaš password je promenjen. Molimo Vas @Html.ActionLink("kliknite ovde za logovanje", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
