@{
    ViewBag.Title = "Home Page";
}

<div class="content">
    <div class="container-fluid">

        <!-- /.row -->
        <div class="row">
            <div class="card">
                <div class="card-body">
                  Stranica u izradi...
                </div>
            </div>

        </div>

        


    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->