@{
    @Styles.Render("~/Content/new.css")
    ViewBag.Title = "Android";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-heading">
    <h1 class="heading-title">
        Android aplikacija
        <br />
        <small style="font-size:16px">Download aplikacije za telefon</small>
    </h1>
</div>
<hr />
<div class="row" style="margin:0; padding:0; background:#eee;">
    <div class="card">
        <div class="card-body">
            <iframe id="ifeame1" max-width="750px" height="500px" frameborder="0" scroll="no" src="~/Dowenload.aspx"></iframe>
        </div>
    </div>
</div>











@*<!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>

    </body>
    </html>*@