@{
    ViewBag.Title = "Android";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron" style="background-image:none;padding:0px;">
    <div class="page-header">
        <h1>Android aplikacija</h1>
        <p>Download aplikacije za telefon</p>
    </div>
</div>
<hr />
<div class="row" style="background:#eee;">
    <div class="card">
        <div class="card-body">
            <iframe id="ifeame1" width="750px" height="500px" frameborder="0" scroll="no" src="~/Dowenload.aspx"></iframe>
        </div>
    </div>
</div>











@*<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    
</body>
</html>*@