@model Bex.Models.Cene
@using BexMVC.Helpers
@{
    Layout = null;
}


@using (Html.BeginForm("SaveCenePartial", "Cene", FormMethod.Post))
{



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Sacuvaj" class="btn btn-primary pull-right" />
        </div>
    </div>

}
