@model BexMVC.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6"></div>
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-login">
            <div class="card-header card-header-primary ">
                <img src="~/Content/images/bexLogoMali.png" />
                @*<h3 class="panel-title">Please Sign In</h3>*@
            </div>
            <div class="card-body">
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @*<h4>Enter your email.</h4>
                    <hr />*@
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="input-group">
                    <div class="input-group-prepend">

                        <span class="input-group-text">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                    @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@

                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Unesite vase korisnicko ime:" })

                </div>
                <div class="col-md-12">
                    <input type="submit" value="OK" class="btn btn-lg btn-danger btn-block" />
                </div>
                }
                </div>
            </div>
        </div>
    </div>

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
